/* layout */
#top > div,
#header > div > div,
#content > div,
#bottom > div,
#footer > div {
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  width: 940px;
}
#top {
  background: white;
  padding: 35px 0 20px;
}
#top > div {
  padding-bottom: 15px;
}
#header {
  background: url(../images/header_shadow.png) center top repeat-x;
}
#header > div {
  background: url(../images/header_bg.png) center no-repeat;
  padding-top: 29px;
  margin-bottom: 25px;
}
#content {
  margin: 20px 0;
}
body.home #content > div {
  font-size: 14px;
}
#bottom {
  margin-bottom: 10px;
}
body.home #bottom > div > div {
  background: url(../images/divider.png) repeat-x;
  padding-top: 35px;
}
#footer > div > div {
  background: url(../images/divider.png) top repeat-x;
  font-size: 10px;
  padding: 8px 0 20px;
}
#footer a {
  color: #333;
}
