.mod_slideshow {
	border-radius: 13px;
	position: relative;
	z-index: 1;
}

.mod_slideshow .inner {
	border-radius: 13px;
	-moz-box-shadow: 0 2px 5px #333;
	-webkit-box-shadow: 0 2px 5px #333;
	box-shadow: 0 2px 5px #333;
	overflow: hidden;
	
	behavior: url(/templates/team_aquatic/resources/PIE.htc);
}

.mod_slideshow .details {
	background: #1379bd;
	border-radius: 13px 0 0 13px;
	color: #fff;
	float: left;
	height: 220px;
	padding: 15px 20px;
	position: relative;
	text-align: center;
	width: 165px;
	z-index: 4;
	
	behavior: url(/templates/team_aquatic/resources/PIE.htc);
}

.mod_slideshow .title {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.mod_slideshow .description {
	font-size: 14px;
	line-height: 1.5em;
	margin-top: 20px;
}

.mod_slideshow .images {
	float: left;
	height: 250px;
	overflow: hidden;
	position: relative;
	width: 735px;
}

.mod_slideshow .image {
	height: 250px;
	position: absolute;
	right: 100%;
	top: 0;
	width: 940px;
	z-index: 2;
	border-radius: 13px;
	behavior: url(/templates/team_aquatic/resources/PIE.htc);
}
	
.mod_slideshow .image.current { right: 0; }

.mod_slideshow .indicators {
	text-align: center;
	margin: 10px 0 0;
}
.mod_slideshow .indicator {
	background: url(/templates/team_aquatic/images/indicator.png) center no-repeat;
	display: inline;
	padding: 0 6px;
}
.mod_slideshow .indicator.current { background-image: url(/templates/team_aquatic/images/indicator_current.png); }